In [5]:
import opendatasets as od

In [7]:
od.download('stackoverflow-developer-survey-2020')

Downloading https://raw.githubusercontent.com/JovianML/opendatasets/master/data/stackoverflow-developer-survey-2020/survey_results_public.csv to .\stackoverflow-developer-survey-2020\survey_results_public.csv

94609408it [00:16, 5897912.68it/s]

Downloading https://raw.githubusercontent.com/JovianML/opendatasets/master/data/stackoverflow-developer-survey-2020/survey_results_schema.csv to .\stackoverflow-developer-survey-2020\survey_results_schema.csv

16384it [00:00, 42778.51it/s]

Downloading https://raw.githubusercontent.com/JovianML/opendatasets/master/data/stackoverflow-developer-survey-2020/README.txt to .\stackoverflow-developer-survey-2020\README.txt

8192it [00:00, 24023.62it/s]

In [ ]:
import pandas as pd

In [ ]:
surver_raw_df = pd.read_csv('stackoverflow-developer-survey-2020\survey_results_public.csv')

In [11]:
surver_raw_df

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64456,64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year
64457,64867,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64458,64898,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Viet Nam,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64459,64925,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Poland,NaN,...,NaN,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,NaN
64460,65112,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Spain,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN

What are the columns present in the dataframe.

In [12]:
surver_raw_df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'Age', 'Age1stCode', 'CompFreq',
       'CompTotal', 'ConvertedComp', 'Country', 'CurrencyDesc',
       'CurrencySymbol', 'DatabaseDesireNextYear', 'DatabaseWorkedWith',
       'DevType', 'EdLevel', 'Employment', 'Ethnicity', 'Gender', 'JobFactors',
       'JobSat', 'JobSeek', 'LanguageDesireNextYear', 'LanguageWorkedWith',
       'MiscTechDesireNextYear', 'MiscTechWorkedWith',
       'NEWCollabToolsDesireNextYear', 'NEWCollabToolsWorkedWith', 'NEWDevOps',
       'NEWDevOpsImpt', 'NEWEdImpt', 'NEWJobHunt', 'NEWJobHuntResearch',
       'NEWLearn', 'NEWOffTopic', 'NEWOnboardGood', 'NEWOtherComms',
       'NEWOvertime', 'NEWPurchaseResearch', 'NEWPurpleLink', 'NEWSOSites',
       'NEWStuck', 'OpSys', 'OrgSize', 'PlatformDesireNextYear',
       'PlatformWorkedWith', 'PurchaseWhat', 'Sexuality', 'SOAccount',
       'SOComm', 'SOPartFreq', 'SOVisitFreq', 'SurveyEase', 'SurveyLength',
       'Trans', 'UndergradMajor', 'WebframeDesireNextYear',
       'WebframeWorkedWith', 'WelcomeChange', 'WorkWeekHrs', 'YearsCode',
       'YearsCodePro'],
      dtype='object')

In [13]:
surver_raw_df.shape

(64461, 61)

In [ ]:
schema_raw = pd.read_csv('stackoverflow-developer-survey-2020\survey_results_schema.csv', index_col = 'Column').QuestionText

In [19]:
schema_raw.shape

(61,)

Now we can we use schema_raw to retrive the full question.

In [20]:
schema_raw['YearsCodePro']

'NOT including education, how many years have you coded professionally (as a part of your work)?'

## Data Preparation & Cleaning

While the survey responses contain a wealth of information, we'll limit our analysis to the following areas:

- Demographics of the survey respondents and the global programming community
- Distribution of programming skills, experience, and preferences
- Employment-related information, preferences, and opinions

Let's select a subset of columns with the relevant data for our analysis.

In [21]:
selected_columns = [
    # Demographics
    'Country',
    'Age',
    'Gender',
    'EdLevel',
    'UndergradMajor',
    # Programming experience
    'Hobbyist',
    'Age1stCode',
    'YearsCode',
    'YearsCodePro',
    'LanguageWorkedWith',
    'LanguageDesireNextYear',
    'NEWLearn',
    'NEWStuck',
    # Employment
    'Employment',
    'DevType',
    'WorkWeekHrs',
    'JobSat',
    'JobFactors',
    'NEWOvertime',
    'NEWEdImpt'
]

In [22]:
survey_df = surver_raw_df[selected_columns].copy()

In [23]:
survey_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64461 entries, 0 to 64460
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country                 64072 non-null  object
 1   Age                     45446 non-null  float64
 2   Gender                  50557 non-null  object
 3   EdLevel                 57431 non-null  object
 4   UndergradMajor          50995 non-null  object
 5   Hobbyist                64416 non-null  object
 6   Age1stCode              57900 non-null  object
 7   YearsCode               57684 non-null  object
 8   YearsCodePro            46349 non-null  object
 9   LanguageWorkedWith      57378 non-null  object
 10  LanguageDesireNextYear  54113 non-null  object
 11  NEWLearn                56156 non-null  object
 12  NEWStuck                54983 non-null  object
 13  Employment              63854 non-null  object
 14  DevType                 49370 non-null  object
 15  WorkWeekHrs             41151 non-null  float64
 16  JobSat                  45194 non-null  object
 17  JobFactors              49349 non-null  object
 18  NEWOvertime             43231 non-null  object
 19  NEWEdImpt               48465 non-null  object
dtypes: float64(2), object(18)
memory usage: 9.8+ MB

In [25]:
survey_df['Age1stCode'] = pd.to_numeric(survey_df.Age1stCode, errors='coerce')
survey_df['YearsCode'] = pd.to_numeric(survey_df.YearsCode, errors='coerce')
survey_df['YearsCodePro'] = pd.to_numeric(survey_df.YearsCodePro, errors='coerce')

In [26]:
survey_df.describe()

                Age    Age1stCode     YearsCode  YearsCodePro   WorkWeekHrs
count  45446.000000  57473.000000  56784.000000  44133.000000  41151.000000
mean      30.834111     15.476572     12.782051      8.869667     40.782174
std        9.585392      5.114081      9.490657      7.759961     17.816383
min        1.000000      5.000000      1.000000      1.000000      1.000000
25%       24.000000     12.000000      6.000000      3.000000     40.000000
50%       29.000000     15.000000     10.000000      6.000000     40.000000
75%       35.000000     18.000000     17.000000     12.000000     44.000000
max      279.000000     85.000000     50.000000     50.000000    475.000000

Here we see that the minimum age is 1 and maximum age is 279. These are errors in  the surveys.  A simple fix would be to ignore the rows where the age is higher than 100 years or lower than 10 years as invalid survey responses.

In [30]:
survey_df.drop(survey_df[survey_df.Age < 10].index, inplace=True)
survey_df.drop(survey_df[survey_df.Age > 100].index, inplace=True)

The same holds for `WorkWeekHrs`. Let's ignore entries where the value for the column is higher than 140 hours. (~20 hours per day).

In [31]:
survey_df.drop(survey_df[survey_df.WorkWeekHrs > 140].index, inplace=True)

The gender column also allows for picking multiple options. We'll remove values containing more than one option to simplify our analysis.

In [32]:
survey_df.Gender.value_counts()

Gender
Man                                                            45895
Woman                                                           3835
Non-binary, genderqueer, or gender non-conforming                385
Man;Non-binary, genderqueer, or gender non-conforming            121
Woman;Non-binary, genderqueer, or gender non-conforming           92
Woman;Man                                                         73
Woman;Man;Non-binary, genderqueer, or gender non-conforming       25
Name: count, dtype: int64

In [33]:
import numpy as np

In [34]:
survey_df.where(~(survey_df.Gender.str.contains(';', na=False)), np.nan, inplace=True)

Now that we have cleared the dataset for our analysis, let's look at the dataset sample for some understanding.

In [35]:
survey_df.sample(10)

,Country,Age,Gender,EdLevel,UndergradMajor,Hobbyist,Age1stCode,YearsCode,YearsCodePro,LanguageWorkedWith,LanguageDesireNextYear,NEWLearn,NEWStuck,Employment,DevType,WorkWeekHrs,JobSat,JobFactors,NEWOvertime,NEWEdImpt
2317,Brazil,24.0,Man,NaN,"Information systems, information technology, o...",Yes,15.0,10.0,1.0,C#;HTML/CSS;JavaScript;SQL;TypeScript,Bash/Shell/PowerShell;C#;Go;HTML/CSS;Java;Java...,Every few months,Call a coworker or friend;Visit Stack Overflow...,Employed full-time,"Developer, back-end;Developer, desktop or ente...",40.0,Slightly dissatisfied,"Flex time or a flexible schedule;Languages, fr...",Occasionally: 1-2 days per quarter but less th...,Somewhat important
12,Netherlands,53.0,Man,"Secondary school (e.g. American high school, G...",NaN,Yes,14.0,35.0,20.0,C;JavaScript;Python,Python,Once every few years,Call a coworker or friend;Go for a walk or oth...,Employed full-time,"Designer;Developer, back-end",36.0,Very satisfied,Industry that I’d be working in;Financial perf...,Rarely: 1-2 days per year or less,Not at all important/not necessary
61350,United States,NaN,Man,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Computer science, computer engineering, or sof...",Yes,8.0,33.0,22.0,Bash/Shell/PowerShell;C;C#;C++;Go;HTML/CSS;Jav...,C++;Dart;Go;Kotlin;Python;Rust,Once every few years,Visit Stack Overflow;Go for a walk or other ph...,Employed full-time,"Developer, back-end;Developer, desktop or ente...",40.0,Very satisfied,Flex time or a flexible schedule;Opportunities...,Rarely: 1-2 days per year or less,Critically important
3052,United States,54.0,Man,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Mathematics or statistics,No,16.0,39.0,35.0,HTML/CSS;Java;SQL,HTML/CSS;Java;SQL,Once every few years,Call a coworker or friend;Visit Stack Overflow...,Employed full-time,Data or business analyst;Data scientist or mac...,NaN,NaN,NaN,NaN,Fairly important
51440,Sri Lanka,NaN,NaN,NaN,NaN,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Employed full-time,NaN,NaN,NaN,NaN,NaN,NaN
30421,United States,NaN,Man,NaN,"Computer science, computer engineering, or sof...",Yes,16.0,3.0,NaN,Assembly;Bash/Shell/PowerShell;C;C#;C++;Java;P...,Objective-C;Swift,Once a year,Visit Stack Overflow,Student,NaN,NaN,NaN,Specific department or team I’d be working on;...,NaN,NaN
18924,United Kingdom,NaN,Man,"Secondary school (e.g. American high school, G...",NaN,Yes,7.0,10.0,NaN,C#;HTML/CSS;Python,Java;JavaScript,Once a year,Visit Stack Overflow;Watch help / tutorial videos,Student,NaN,NaN,NaN,How widely used or impactful my work output wo...,NaN,NaN
58864,India,NaN,NaN,"Secondary school (e.g. American high school, G...",NaN,Yes,17.0,3.0,NaN,NaN,NaN,NaN,NaN,Student,NaN,NaN,NaN,Industry that I’d be working in;Flex time or a...,NaN,NaN
5558,Japan,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Computer science, computer engineering, or sof...",Yes,13.0,20.0,20.0,HTML/CSS;JavaScript;Python,NaN,Once a decade,Call a coworker or friend;Visit Stack Overflow...,Employed full-time,NaN,35.0,Very dissatisfied,"Languages, frameworks, and other technologies ...",Never,Somewhat important
5404,Canada,27.0,Man,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Computer science, computer engineering, or sof...",Yes,17.0,10.0,4.0,Bash/Shell/PowerShell;Java,Bash/Shell/PowerShell;Java,Every few months,Call a coworker or friend;Visit Stack Overflow...,Employed full-time,"Database administrator;Developer, desktop or e...",40.0,Slightly satisfied,Flex time or a flexible schedule;How widely us...,Rarely: 1-2 days per year or less,Very important